body {
    margin: 0
    padding: 0;
    overflow: hidden;
}

.main-wrapper {
  display: flex;
  height: calc(100vh - 50px);
}

.orders-panel {
  width: 20%;
  background-color: #f9f9f9;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#order-search {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    border-radius: 4px;
}

.orders-header {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 5px;
}

.orders-text {
  text-align: left;
}

.orders-count-wrapper {
  margin-left: auto;
  text-align: right;
}

#orders-count {
  font-weight: bold;
}

.order-item {
  padding: 15px;
  border-radius: 6px;
  outline: 1px solid #000000;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s ease;
  user-select: none;
  width: 100%;
  line-height: 1.2;
}

.order-item:hover {
  background-color: #FFE2CC;
}

.order-item.active {
  background-color: #FFD2B7;
}

.order-item.unassigned {
   outline: 2px solid #E55050;
}

.order-item.unassigned:hover {
  background-color: #CFCFCF
}

.order-item.unassigned.active {
    background-color: #D4D4D4
}

.order-header {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.order-details {
  margin-top: 6px;
  font-size: 14px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out,   
    margin-top 0.3s ease-in-out;
}

.order-details.hidden {
  display: block !important;
  max-height: 0;
  opacity: 0;
  margin-top: 0;
}

.order-details:not(.hidden) {
  max-height: 200px;
  opacity: 1;
}

.order-price {
  margin-top: auto;
}


.add-order-btn {
  display: block;
  margin: 20px auto;
  background-color: #FFFFFF;
  border: None;
}

.add-order-btn:hover {
    background-color: #dcdcdc;
}

.add-order-btn:focus {
    outline: None
}

.map-block {
  width: 80%;
  padding: 10px;
}

.map-wrapper {
  border: 4px solid black;
  height: 600px;
}

.map {
  width: 100%;
  height: 100%;
}

.address-search-wrapper {
  display: flex;
  flex-grow: 1;
  gap: 5px;
  max-width: calc(100% - 190px);
  transition: all 0.3s ease;
  order: 1;
}

.address-search-wrapper.hidden {
  visibility: hidden;
  width: 0;
  opacity: 0;
  flex-grow: 0;
  max-width: 0;
  margin: 0;
  padding: 0;
}

#address-search {
  flex: 1;
  padding: 6px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
  max-width: 400px;
}

#address-search-btn {
  padding: 6px 10px;
  font-size: 12px;
  background-color: #e6e6e6;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#address-search-btn:hover {
  background-color: #dcdcdc;
}

.courier-filter-wrapper {
  display: flex;
  flex-direction: column;
}

#courier-search {
  padding: 5px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.courier-filters-scroll {
  display: flex;
  overflow-x: auto;
  gap: 5px;
  scrollbar-width: thin;
   flex-direction: column;
}


.courier-panel {
  width: 300px;
  background-color: #f9f9f9;
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.courier-filter-wrapper {
  margin-bottom: 20px;
}

.courier-filters-scroll {
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding-right: 5px;
}

.courier-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#courier-search {
  width: 100%;
  padding: 7px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.courier-list-scroll {
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.courier-btn {
  padding: 12px;
  border-radius: 6px;
  background-color: #e6e6e6;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s ease;
  user-select: none;
  width: 100%;
  line-height: 0.5;
  border: none;
}

.courier-btn:hover {
  background-color: #dcdcdc;
}

.courier-btn.active {
  background-color: #2196f3;
  color: white;
}

.courier-btn:focus {
    outline: None
}

.export-btn {
    background: #66FF9F;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 2px #32FF7D;
}

.export-btn:focus {
    outline: None
}

.clustering-btn {
    background: #4B95AF;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 2px #448399;
}

.tab-switch {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    margin-left: auto;
    order: 2
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search-and-tabs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tab {
  padding: 6px 20px;
  cursor: pointer;
  background: #f0f0f0;
  color: #888;
  font-size: 16px;
  font-weight: bold;
}

.tab.active {
  background: #ddd;
  color: #000;
}

.hidden {
  display: none !important;
}

.clustering-btn:focus {
    outline: None
}

.btn-close {
    border: None;
    outline: None
}

.couriers-page {
    margin: 0 auto;
    width: fit-content;
}

.invite-row {
    display: flex
}

.invite-row input {
    width: 625px;
    font-weight: bold;
    font-size: 18px;
    height: 38px;
    letter-spacing: 1px;
    border: 2px solid #CCCCCC
}

.invite-btn {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #A3A3A3;
    height: 38px;
    cursor: pointer;
    transition: all 0.3s
}

.invite-btn:active {
  transform: scale(0.95);
}

.invite-link {
    border: 1px solid #ccc;
    padding: 8px 12px;
    width: 400px;
    background: linear-gradient(90deg, black 0 39ch, #888 39ch 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}

.table-row {
    display: grid;
    grid-template-columns: 40px minmax(150px, 1fr) minmax(150px, 1fr) 40px 40px;
    align-items: center
}

.members {
    text-align: center;
    font-size:22px;
    margin-top:25px
}

.tg-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #808080;
    display: inline-block;
    font-weight: bold;
    margin-left: -45px
}

.courier-number {
    text-align: center;
    font-weight: 850;
    font-size: 26px
}

.courier-name {
    font-weight:bold;
    font-size: 17px;
    letter-spacing: 2px
}

.clstr-courier {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer
}

.clstr-courier.add {
    color: #6DFF4C
}

.clstr-courier.remove {
    color: #DB6057
}

.clstr-courier.kick {
    color: #808080;
    font-size: 20px
}

.clstr-courier.kick:hover {
    color: #B5B5B5
}

.clstr-courier.add:hover {
    color: #AFFF9B
}

.clstr-courier.remove:hover {
    color: #F28780
}

.courier-empty-text {
    text-align: center;
    margin-top:25px;
    color:#999999;
    font-family: 'Courier New', monospace;
    font-size:20px
}