body {
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  display: flex;
  height: 100vh;
}

.orders-panel {
  width: 20%;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-item {
  padding: 12px;
  border-radius: 6px;
  background-color: #e6e6e6;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s ease;
  user-select: none;
  width: 100%;
  line-height: 1.2;
  border: none; /* Убираем обводку */
}

.order-item:hover {
  background-color: #dcdcdc;
}

.order-item.active {
  background-color: #2196f3;
  color: white;
}


.map-block {
  width: 80%;
  padding: 10px;
}

.map-wrapper {
  border: 4px solid black;
  height: 600px;
}

.map {
  width: 100%;
  height: 100%;
}

.address-search-wrapper {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

#address-search {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#address-search-btn {
  padding: 8px 12px;
  font-size: 14px;
  background-color:#e6e6e6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#address-search-btn:hover {
  background-color: #dcdcdc;
}


.courier-filter-wrapper {
  display: flex;
  flex-direction: column;
}

#courier-search {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.courier-filters-scroll {
  display: flex;
  overflow-x: auto;
  gap: 5px;
  scrollbar-width: thin;
   flex-direction: column;
}


.courier-panel {
    width: 300px;
  background-color: #f9f9f9;
  padding: 15px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.courier-filter-wrapper {
  margin-bottom: 20px;
}

#courier-search {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.courier-filters-scroll {
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding-right: 5px;
}

.courier-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#courier-search {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.courier-list-scroll {
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.courier-btn {
  padding: 12px;
  border-radius: 6px;
  background-color: #e6e6e6;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s ease;
  user-select: none;
  width: 100%;
  line-height: 0.5;
  border: none;
}

.courier-btn:hover {
  background-color: #dcdcdc;
}

.courier-btn.active {
  background-color: #2196f3;
  color: white;
}

