{% extends "base.html" %}
{% block title %} Главная страница {% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh">
<div style="width: 60%; max-width: 800px; background-color: #f9f9f9; padding: 20px;">
<h3 align="center">Доступные заказы:</h3>
<p> </p>
    {% if not sql %}
    <h6 style="color: gray" align="center">пусто</h6>
    {% else %}
{% for i in range(sql | length) %}
    <h4>Работа # {{i + 1}}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Адрес отправления</th>
                <th>Город</th>
                <th>Товары</th>
                <th>Назначенное время</th>
                <th>Доставлено</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sql[i].address}}</td>
                <td>{{sql[i].city}}</td>
                <td>{{sql[i].goods}}</td>
                <td>{{sql[i].scheduled_date}}</td>
                <td>{{sql[i].is_delivered}}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}