{% extends "base.html" %}
{% block title %} Главная страница {% endblock %}

{% block content %}
{% if current_user.status == "admin" %}
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add_order">Добавить заказ</button>
  {% endif %}

<div class="modal fade" id="add_order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="AddJobModelLabel">Добавить заказ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                    <form action="" method="post">
                  {{ form.hidden_tag() }}
                  <div class="mb-3">
                    {{ form.address.label }}
                    {{ form.address(class="form-control") }}
                  </div>
                  <div class="mb-3">
                    {{ form.city.label }}<br>
                    {{ form.city(class="form-control") }}
                  </div>
                  <div class="mb-3">
                    {{ form.phone.label }}
                    {{ form.phone(class="form-control") }}
                  </div>
                  <div class="mb-3">
                    {{ form.goods.label }}<br>
                    {{ form.goods(class="form-control") }}
                  </div>
                  <div class="mb-3">
                    {{ form.scheduled_date.label }}<br>
                    {{ form.scheduled_date(class="form-control", type="datetime-local", value=time_min, min=time_min, max=date_max)}}
                  </div>
                  <div class="mb-3">
                      {{ form.submit(type="submit", class="btn btn-primary") }}
                      {{ form.is_delivered() }} {{ form.is_delivered.label }}
                  </div>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>

<div style="display: flex; justify-content: center; align-items: center; min-height: 80vh">
<div style="width: 60%; max-width: 800px; background-color: #f9f9f9; padding: 20px;">
<h3 align="center">Доступные заказы:</h3>
<p> </p>
    {% if not sql %}
    <h6 style="color: gray" align="center">пусто</h6>
    {% else %}
{% for i in range(sql | length) %}
    <h4>Заказ # {{i + 1}}</h4>
    <table class="table table-striped">
        <thead style="background-color: #E5E5E5">
            <tr>
                <th>Адрес отправления</th>
                <th>Город</th>
                <th>Товары</th>
                <th>Назначенное время</th>
                <th>Доставлено</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sql[i].address}}</td>
                <td>{{sql[i].city}}</td>
                <td>{{sql[i].goods}}</td>
                <td>{{sql[i].scheduled_date}}</td>
                {% if sql[i].is_delivered %}
                <td>Да</td>
                {% else %}
                <td>Ожидается</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endfor %}
    {% endif %}
</div>
</div>

{% with message = get_flashed_messages(with_categories=true) %}
    {% if message %}
        {% for category, text in message %}
            <div class="flash-message {{ category }}" id="flash-message" align="center" style="color: #FF5C56">
                {{ text }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    setTimeout(function() {
        var messageElement = document.getElementById("flash-message");
        if (messageElement) {messageElement.style.display = "none"}}, 5000)
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
{% endblock %}