{% extends "base.html" %}
{% block title %} Стань логистом {% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div style="width: 100%; max-width: 400px">
        {% if admin_name %}
            <h2 align="center">Присоединиться курьером к {{admin_name}}</h2>
        {% else %}
            <h2 align="center">Стань логистом</h2>
        {% endif %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="form-control") }}<br>
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}<br>
            </p>
            <p>
                {{ form.telegram_tag.label }}<br>
                {{ form.telegram_tag(class="form-control") }}<br>
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div>{{ message }}</div>
        </form>
    </div>
</div>
{% endblock %}